  <!-- Contact -->
  <div id="contact" class="form-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <div class="section-title">CONTACT</div>
                    <h2>Get In Touch </h2>
                    <p>You can  use the contact information below for any questions and inquiries</p>
                    <ul class="list-unstyled li-space-lg">
                        <li class="address"><i class="fas fa-map-marker-alt"></i>Yildiz Technical University, Faculty of Electrical and Electronics

                            Davutpaşa 34220, Istanbul-Türkiye</li>
                        <li><i class="fas fa-phone"></i><a style="
                            color: #787976;
                            text-decoration: underline;
                        " href="tel:003024630820">+90 212 383 5748</a></li>
                        <li><i class="fas fa-phone"></i><a style="
                            color: #787976;
                            text-decoration: underline;
                        " href="tel:003024630820">+90 212 383 5732</a></li>
                        <li><i class="fas fa-envelope"></i><a style="
                            color: #787976;
                            text-decoration: underline;
                        " href="mailto:office@aria.com">naydin@yildiz.edu.tr</a></li>
                    </ul>
                    <h3>Follow On Social Media</h3>

                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-facebook-f fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-twitter fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://scholar.google.com.tr/citations?user=JhyQcSIAAAAJ&hl=tr">
                            <span class="hexagon"></span>
                            <i class="fab fa-google fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="#your-link">
                            <span class="hexagon"></span>
                            <i class="fab fa-instagram fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="https://www.linkedin.com/in/nizamettin-aydin-1bb95719">
                            <span class="hexagon"></span>
                            <i class="fab fa-linkedin-in fa-stack-1x"></i>
                        </a>
                    </span>
                    <span class="fa-stack">
                        <a href="http://www3.yildiz.edu.tr/~naydin/">
                            <span class="hexagon"></span>
                            <i class="fab fa-wordpress fa-stack-1x"></i>
                        </a>
                    </span>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
 
  <!-- Team -->
  <div class="basic-2">
    
        
        <div class="row">
            <div class="col-lg-12">

                <!-- Team Member -->
                <div class="team-member">
                    <div class="image-wrapper">
                        <img class="img-fluid" src="assets/images/a2.png" alt="alternative">
                    </div> <!-- end of image-wrapper -->
                    <p class="p-large">Prof.Dr. Nizamettin AYDIN</p>
                    <p class="job-title">Head Of Computer Engineering Department at Yildiz Technical University</p>
                    <span class="social-icons">
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                            </a>
                        </span>
                        <span class="fa-stack">
                            <a href="#your-link">
                                <span class="hexagon"></span>
                                <i class="fab fa-twitter fa-stack-1x"></i>
                            </a>
                        </span>
                    </span>
                </div> <!-- end of team-member -->
                <!-- end of team member -->

                <!-- Team Member -->
               

 <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of team -->


        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of form-2 -->
<!-- end of contact -->
