    <!-- Call Me -->
    <div id="callMe" class="form-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <div class="section-title">CONTACT</div>
                        <h2 class="white">Get In Touch </h2>
                        <p class="white">You can  use the contact information below for any questions and inquiries</p>
                        <ul class="list-unstyled li-space-lg white">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">It's very easy just fill in the form so we can call</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">During the call we'll require some info about the company</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Don't hesitate to email us for any questions or inquiries</div>
                            </li>
                        </ul>
                    </div>
                </div> <!-- end of col -->
                <div class="col-lg-6">
                   
                    <div class="basic-2">
    
        
                        <div class="row">
                            <div class="col-lg-12">
                
                                <!-- Team Member -->
                                <div class="team-member">
                                    <div class="image-wrapper">
                                        <img class="img-fluid" src="assets/images/a2.png" alt="alternative">
                                    </div> <!-- end of image-wrapper -->
                                    <p class="p-large">Prof.Dr. Nizamettin AYDIN</p>
                                    <p class="job-title">Head Of Computer Engineering Department at Yildiz Technical University</p>
                                    <span class="social-icons">
                                        <span class="fa-stack">
                                            <a href="#your-link">
                                                <span class="hexagon"></span>
                                                <i class="fab fa-facebook-f fa-stack-1x"></i>
                                            </a>
                                        </span>
                                        <span class="fa-stack">
                                            <a href="#your-link">
                                                <span class="hexagon"></span>
                                                <i class="fab fa-twitter fa-stack-1x"></i>
                                            </a>
                                        </span>
                                    </span>
                                </div> <!-- end of team-member -->
                                <!-- end of team member -->
                
                                <!-- Team Member -->
                               
                
                 <!-- end of col -->
                        </div> <!-- end of row -->
                    </div> <!-- end of container -->
                </div> <!-- end of basic-2 -->
                    
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->
    <!-- end of call me -->