
    <!-- Details 2 -->
	<div class="tabs">
        <div class="area-1">
            <div class="tabs-container">
                
                <!-- Tabs Links -->
                <ul class="nav nav-tabs" id="ariaTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="nav-tab-1" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true"><i class="fas fa-th"></i> About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-2" data-toggle="tab" href="#tab-2" role="tab" aria-controls="tab-2" aria-selected="false"><i class="fas fa-th"></i> Method</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-tab-3" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false"><i class="fas fa-th"></i> Results</a>
                    </li>
                </ul>
                <!-- end of tabs links -->
                
                <!-- Tabs Content -->
                <div class="tab-content" id="ariaTabsContent">

                    <!-- Tab -->
                    <div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="tab-1">
                        <h4>Implementations and Performances </h4>
                        <p> We have implemented a wavelet-based analysis and compared the results of this with a
                            conventional FFT-based analysis. The temporal resolution, as measured by the half-width maximum, was
                            significantly better for the continuous wavelet transform (CWT).</p>
                        
                        <!-- Progress Bars -->
                        <div class="progress-container">
                            <div class="title"> CWT mean (SD) 8.40 (8.82) ms</div>
                            <div class="progress">
                                <div class="progress-bar first" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">128-point FFT, 12.92 (9.70) ms</div>
                            <div class="progress">
                                <div class="progress-bar second" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            <div class="title">64-point FFT, 10.80 (5.69) ms</div>
                            <div class="progress">
                                <div class="progress-bar third" role="progressbar" aria-valuenow="56" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div> <!-- end of progress-container -->
                        <!-- end of progress bars -->
                        
                    </div> <!-- end of tab-pane --> 
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-2" role="tabpanel" aria-labelledby="tab-2">
                        <ul class="list-unstyled li-space-lg first">
                            <li class="media">
                                <div class="media-bullet">1</div>
                                <div class="media-body"><strong>A total of 50</strong> consecutive embolic signals from 5
                                    patients with symptomatic carotid stenosis were used for
                                    analysis. </div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">2</div>
                                <div class="media-body"><strong>All had been</strong> recorded using a
                                    commercially available transcranial Doppler system
                                    with a 2MHz transducer.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">3</div>
                                <div class="media-body"><strong>The quadrature</strong> sound track data were then exported to a
                                    PC for signal analysis using a Matlab program. </div>
                            </li>
                        </ul>
                        <ul class="list-unstyled li-space-lg last">
                            <li class="media">
                                <div class="media-bullet">4</div>
                                <div class="media-body"><strong>The data </strong> were analyzed using both the FFT and the
                                    CWT.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">5</div>
                                <div class="media-body"><strong>For CWT </strong>  analysis, a 64-scale WT using Morlet
                                    wavelet was applied to both forward and reverse signals, representing
                                    the time-scale distribution of the signals.</div>
                            </li>
                            <li class="media">
                                <div class="media-bullet">6</div>
                                <div class="media-body"><strong>Results</strong> obtained for the 128-point FFT, the
                                    64-point FFT, and the CWT were compared using paired
                                    t-tests.</div>
                            </li>
                        </ul>
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                    <!-- Tab -->
                    <div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="tab-3">
                
                        <p><strong>The results obtained by the CWT</strong> heavily depend
                            upon the choice of an appropriate wavelet. Using a more
                            appropriate wavelet will result in higher amplitude wavelet coefficients and, hence, a higher EBR value. We
                            selected the Morlet wavelet from those available in the Matlab signal-processing because it best described embolic signals.</p>
                        <p><strong>However,</strong> it may be possible to
                            construct a better wavelet that will more accurately describes such signals and result in a higher EBR. Nevertheless, this study with a standard wavelet transform
                            suggests that the wavelet approach is well suited to
                            analyze the short-duration embolic signals.</p>
                   
                    </div> <!-- end of tab-pane -->
                    <!-- end of tab -->

                </div> <!-- end of tab-content -->
                <!-- end of tabs content -->

            </div> <!-- end of tabs-container -->
        </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2"></div> <!-- end of area-2 -->
    </div> <!-- end of tabs -->
    <!-- end of details 2 -->
