 <!-- Intro -->
 <div id="intro" class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="text-container">
                    <div class="section-title">INTRO</div>
                    <h2>Detecting Asymptomatic Circulating Cerebral Emboli</h2>
                    <p>Asymptomatic circulating cerebral emboli can be detected by transcranial Doppler ultrasound.</p>
                    <p class="testimonial-text">In most works, Fourier transform-based (FT) spectral analysis has
                        been used. The FT is not ideally suited to analysis of short-duration embolic signals due to an inherent trade-off
                        between temporal and frequency resolution. An alternative approach that might be expected to describe embolic
                        signals well is the wavelet transform.</p>
                   <!-- <div class="testimonial-author">Fig. 3. A low-intensity embolic signal and corresponding 2-D
and 3-D intensity plots</div>-->
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-7">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/66.png" alt="alternative">
                    <div class="testimonial-author">Fig. 1. A low-intensity embolic signal and corresponding 2-D
                        and 3-D intensity plots</div>
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of intro -->