 <!-- Details 1 -->
 <div id="details" class="accordion">
    <div class="area-1">
    </div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2">
        
        <!-- Accordion -->
        <div class="accordion-container" id="accordionOne">
            <h2>Getting Started With Project </h2>
            <div class="item">
                <div id="headingOne">
                    <span data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" role="button">
                        <span class="circle-numbering">1</span><span class="accordion-title">How Can I Execute Project?</span>
                    </span>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Download and install GNU Octave free software which is featuring a high-level programming language.
                    </div>
                </div>
            </div> <!-- end of item -->
        
            <div class="item">
                <div id="headingTwo">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" role="button">
                        <span class="circle-numbering">2</span><span class="accordion-title">Try Sample Data Entry</span>
                    </span>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Download the project from <a class="green page-scroll" href="#services">Projects</a> section and open it from Octave, After download data from the same section and move sample data to the directory where project is remaining.
                    </div>
                </div>
            </div> <!-- end of item -->
        
            <div class="item">
                <div id="headingThree">
                    <span class="collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" role="button">
                        <span class="circle-numbering">3</span><span class="accordion-title">See The Results Of Execution</span>
                    </span>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionOne">
                    <div class="accordion-body">
                        Execute Command " pkg load signal " before executing the project, After execute project choose the data sample format with non capital letters and finally choose the name of sample data.
                    </div>
                </div>
            </div> <!-- end of item -->
        </div> <!-- end of accordion-container -->
        <!-- end of accordion -->

    </div> <!-- end of area-2 -->
</div> <!-- end of accordion -->
<!-- end of details 1 -->
