  <!-- Services -->
  <div id="services" class="cards-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">PROJECTS</div>
                <h2>( Login And Verify To Download Projects ) <br> Directional Complex Wavelet and complex FFT<br> For Quadrature data</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                
                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/aad.PNG" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Version 1.0</h3>
                        <p>Opens and reads Ascii, Ms-wav or Matlab files, Decodes quadrature signals and Detects embolic signal with grey scale outputs.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Analysis such as FFT, Wavelet etc.</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Selects a windowing function:  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>B</b>artlett </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body">B<b>l</b>ackman</div>
                            </li>
                            
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> <b>C</b>hebyshev </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>K</b>aiser</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>G</b>ausian </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body">Ha<b>m</b>ming</div>
                            </li>
                            
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> Han<b>n</b>ing </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>R</b>ectangular</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> <b>T</b>riangular </div>
                              
                            </li>
                        </ul>
                    </div>
                   
                    <div  *ngIf="this.authService.readLocalStorageValue('verify')==='true'"  > 
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="assets/kod/grey_scale.m"  download="kod/grey_scale.m">DOWNLOAD</a>
                    </div> <!-- end of button-container -->
                </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/1bb.PNG" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Version 1.1</h3>
                        <p>Opens and reads Ascii, Ms-wav or Matlab files, Decodes quadrature signals and Detects embolic signal with RGB outputs.</p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Analysis such as FFT, Wavelet etc., Plots colored directional signals (originals and processed frames)</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Selects a windowing function:  </div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>B</b>artlett </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body">B<b>l</b>ackman</div>
                            </li>
                            
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> <b>C</b>hebyshev </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>K</b>aiser</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>G</b>ausian </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body">Ha<b>m</b>ming</div>
                            </li>
                            
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> Han<b>n</b>ing </div>
                                
                                <i class="fas fa-square"></i>
                                <div class="media-body"><b>R</b>ectangular</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body"> <b>T</b>riangular </div>
                              
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="this.authService.readLocalStorageValue('verify')==='true'" >
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="assets/kod/colored.m"  download="kod/colored.m">DOWNLOAD</a>
                    </div> <!-- end of button-container -->
                </div>
                </div>
                <!-- end of card -->

                <!-- Card -->
                <div class="card">
                    <div class="card-image">
                        <img class="img-fluid" src="assets/images/aae.PNG" alt="alternative">
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">Quadrature data</h3>
                        <p>Embolic signals are difficult to detect and differentiate from
                            artefacts and background Doppler speckle. In order to test program download data and choose some sample input texts also make sure that 'wav_bas.m' file is same directory with project source code.<br> <b>Labeling :</b> </p>
                        <ul class="list-unstyled li-space-lg">
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Embolic</div>
                            </li>
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Artifact</div>
                            </li> 
                            <li class="media">
                                <i class="fas fa-square"></i>
                                <div class="media-body">Speckle</div>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="this.authService.readLocalStorageValue('verify')==='true'" >
                    <div class="button-container">
                        <a class="btn-solid-reg page-scroll" href="https://firebasestorage.googleapis.com/v0/b/aofemboli.appspot.com/o/Data_others.zip?alt=media&token=4ce1137c-5970-4f5d-a8e0-b78aae6a9ca6" download="data.zip">DOWNLOAD</a>      
              
                    </div>
                </div>
                <!-- end of card -->

            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-2 -->
<!-- end of services -->
